@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    margin: 0;
    font-family: Inter;
}

* {
    box-sizing: border-box;
}

.nav {
    display: flex;
    background-color: #F55A5A;
    color: white;
}


.card {
    display: flex;
    margin: 1em;
    margin: 2em 1.25em;
}



.img {
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.place {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.location {
    display: flex;
    align-items: center;
}

.location a {
    color: grey; 
    text-decoration: none;
    border-bottom: 2px solid grey;
}

.card .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.card > * {
    margin-left: 0.3em;
}

.card .desc {
    margin: 0.3em;
    font-size: 0.9rem;
    color: grey;
}

.card h2 {
    margin: 0;
    margin-bottom: 0.8em;
}

.card .date {
    margin: 0;
}

.card .location {
    margin-bottom: -0.2em;
}

.center-element {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.add-new input {
  border-radius: 4px;
}